{% extends "base.html" %}
{% block content %}
<h1>Muokkaa käyttäjän {{kayttaja.nimi}} tietoja</h1>

{% if errors %}
<div class="alert alert-danger">

    {% for error in errors %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endfor %}

</div>
{% endif %}

<p>
    <a href="{{base_path}}/user/delete/{{kayttaja.id}}" class="btn btn-danger">Poista</a> 
</p>

<form method="post" action="{{base_path}}/user/edit/{{kayttaja.id}}">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name="nimi" value={{kayttaja.nimi}}>
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control" name="tiedot">{{kayttaja.tiedot}}</textarea>
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control" name="salasana">
    </div>
    <div class="form-group">
        <label>Salasana uudelleen</label>
        <input type="password" class="form-control" name="salasananVarmennus">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}