{% extends "base.html" %}
{% block content %}
<h1>Muokkaa äänestyksen {{aanestys.nimi}} tietoja</h1>
<h3>Muista täyttää joka kohta</h3>

{% if errors %}
<div class="alert alert-danger">

    {% for error in errors %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endfor %}

</div>
{% endif %}

<p>
    <a href="{{base_path}}/vote/delete/{{aanestys.id}}" class="btn btn-danger">Poista</a> 
</p>
<p>
    <a href="{{base_path}}/candidate/new/{{aanestys.id}}" class="btn btn-success">Lisää ehdokas</a>
</p>
<form method="post" action="{{base_path}}/vote/edit/{{aanestys.id}}">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" class="form-control" value={{aanestys.nimi}}>
    </div>
    <div class="form-group">
        <label>Alkamisaika (VVVV-KK-PP)</label>
        <input type="date" name="alkamisaika" class="form-control" value={{aanestys.alkamisaika}}>
    </div>
    <div class="form-group">
        <label>Päättymisaika (VVVV-KK-PP)</label>
        <input type="date" name="loppumisaika" class="form-control" value={{aanestys.loppumisaika}}>
    </div>
    <div class="form-group">
        <label>Äänestyksen kuvaus</label>
        <textarea name="lisatieto" class="form-control">{{aanestys.lisatieto}}</textarea>
    </div>
    <div class="form-group">
        <label>Onko äänestys anonyymi vai täytyykö olla rekisteröitynyt käyttäjä äänestääkseen?</label>
        <select name="anonyymi">
            <option value="TRUE">Anonyymiäänestys</option>
            <option value="FALSE">Vain rekisteröityneet käyttäjät</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
