{% extends "base.html" %}
{% block content %}
<h1>{{aanestys.nimi}}</h1>

{% if message %}
<div class="alert alert-danger">
<ul><li>{{message}}</li></ul>
</div>
{% endif %}

<p>
    <a href="{{base_path}}/vote/results/{{aanestys.id}}" class="btn btn-primary">Tulokset</a> <a href="{{base_path}}/vote/edit/{{aanestys.id}}"  class="btn btn-default">Muokkaa</a> 
    <a href="{{base_path}}/candidate/new/{{aanestys.id}}"  class="btn btn-success">Lisää ehdokas</a> 
</p>
<p>
    {{aanestys.lisatieto}}
</p>
<ul>
    <li><strong>Järjestäjä:</strong> <a href="{{base_path}}/user/show/{{aanestys.jarjestaja_id}}">{{aanestys.find_jarjestaja(aanestys.id)}}</a></li>
    <li><strong>Alkamisaika:</strong> {{aanestys.alkamisaika}}</li>
    <li><strong>Päättymisaika:</strong> {{aanestys.loppumisaika}}</li>
    <li><strong>Äänestysoikeus:</strong> <label class="label label-info">{{aanestys.anonyymi(aanestys.id)}}</label></li>
</ul>
<h3>Lista ehdokkaista</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lisätieto</th>
            <th>Äänestä</th>
        </tr>
    </thead>

    <tbody>
        {% for ehdokas in aanestys.findEhdokkaat(aanestys.id) %}
        <tr>
            <td><a href="{{base_path}}/candidate/show/{{ehdokas.id}}">{{ehdokas.nimi}}</a></td>
            <td>{{ehdokas.lisatieto}}</td>
            {% if error %}
            <th><button disabled="">{{error}}</button></th>
            {% else %}
            <th><a class="btn btn-success btn-sm" href="{{base_path}}/candidate/vote/{{ehdokas.id}}">Äänestä</a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
