{% extends "base.html" %}
{% block content %}
<h1>{{ehdokas.nimi}}</h1>

{% if message %}
<div class="alert alert-danger">{{message}}</div>
<a href="{{base_path}}/candidate/new/{{aanestys.id}}"  class="btn btn-success">Lisää toinen ehdokas</a> 
{% endif %}

<h3>Ehdokkaana {{aanestys.nimi}} äänestyksessä</h3>

<p>
    <a href="{{base_path}}/candidate/vote/{{ehdokas.id}}" class="btn btn-success">Äänestä</a> <a href="{{base_path}}/candidate/edit/{{ehdokas.id}}" class="btn btn-default">Muokkaa</a>
</p>
<p>
    {{ehdokas.lisatieto}}
</p>
<p>
    <a href="{{base_path}}/vote/show/{{aanestys.id}}" class="btn btn-primary">Paluu</a>
</p>
{% endblock %}
