{% extends "base.html" %}
{% block content %}
  <h1>Painikkeet</h1>
  <button>Tavallinen painike</button>
  <button class="btn btn-default">Bootstrap painike</button>
  <button class="btn btn-primary">Bootstrap painike</button>
  <button class="btn btn-success">Bootstrap painike</button>
  <button class="btn btn-danger">Bootstrap painike</button>

  <h1>Tekstikentät</h1>
  <input type="text" placeholder="Tavallinen tekstikenttä">
  <input type="text" class="form-control" placeholder="Bootstrap tekstikenttä">

  <h1>Taulukot</h1>
  <table>
    <thead>
      <tr>
        <th>Tavallinen</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Bootstrap</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>
  
  <h1>Lisää peli kirjastoosi</h1>

  <form method="post" action="{{base_path}}/game">
      <div class="form-group">
          <label>Nimi</label>
          <input type="text" name="name" class="form-control">
      </div>

      <div class="form-group">
          <label>Julkaisija</label>
          <input type="text" name="publisher" class="form-control">
      </div>

      <div class="form-group">
          <label>Julkaisupäivä</label>
          <input type="text" name="published" class="form-control">
      </div>

      <div class="form-group">
          <label>Kuvaus</label>
          <textarea name="description" class="form-control"></textarea>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-primary">Lisää</button>
      </div>
  </form>
{% endblock %}