<html>
<head>
<title> Dynamically create input fields- jQuery </title>
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>        // Calling jQuery Library hosted on Google's CDN
<script type="text/javascript">
$(function() {
var addDiv = $('#addinput');
var i = $('#addinput p').size() + 1;

$('#addNew').live('click', function() {
$('<p><input type="text" id="p_new" size="20" name="p_new_' + i +'" value="" placeholder="Ehdokkaan nimi" /><a href="#" id="remNew">Poista tämä ehdokas</a></p> \n\
<p><textarea id="p_new2" name="p_new2_' + i +'" value="" placeholder="Ehdokkaan kuvaus" /></textarea> \n\</p>').appendTo(addDiv);
i++;

return false;
});

$('#remNew').live('click', function() {
if( i > 2 ) {
$(this).parents('p').remove();
i--;
}
return false;
});
});

</script>
</head>
<body>
<h2>Dynamically Add Another Input Box</h2>

<div id="addinput">
<p>
<a href="#" class='btn btn-success' id="addNew">Lisää uusi ehdokas</a>
</p>
</div>

</body>
</html>