{% extends "base.html" %}
{% block content %}
  <h1>Armas Hella</h1>
  
  <p>
    <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <p>
    Armas Hella on robotiikan tutkija, joka on erikoistunut ulkoisesti kauniiden ja tekoälykkäiden droidien luomiseen. Hän järjestää maailmaa parantavia äänestyksiä, joissa kilpaillaan robottien erilaisilla ominaisuuksilla.
  </p>
  <h3>Lista käyttäjän aloittamista äänestyksistä</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Alkamisaika</th>
        <th>Päättymisaika</th>
        <th>Status</th>
        <th>Tulokset</th>
      </tr>
    </thead>
    
    <tbody>
        <tr>
            <td><a href="#">Miss Tekoäly</a></td>
            <td>27.1.2017</td>
            <td>14.2.2017</td>
            <td><label class="label label-danger">Kesken</label></td>
            <th><a class="btn btn-default btn-sm" href="#">Tuloksiin</a></th>
        </tr>
    </tbody>
  </table>

{% endblock %}
