{% extends "base.html" %}
{% block content %}
<h1>Miss Tekoäly</h1>

<p>
    <a href="#" class="btn btn-success">Tulokset</a> <a href="#" class="btn btn-default">Muokkaa</a> 
</p>
<p>
    Armas Hellan perustama äänestys kauneimmasta tekoälykkäästä droidista. Kauneuden täytyy olla sekä ulkoista että ns. sisäistä. Virtapiirien lisäksi hyvät käytöstavat ovat tärkeitä ominaisuuksia.
</p>
<ul>
    <li><strong>Järjestäjä:</strong> Armas Hella</li>
    <li><strong>Alkamisaika:</strong> 27.1.2017</li>
    <li><strong>Päättymisaika:</strong> 14.2.2017</li>
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
</ul>
<h3>Lista ehdokkaista</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lisätieto</th>
            <th>Äänestä</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="#">C-3PO</a></td>
            <td>C-3PO on avaruusseik...</td>
            <td><a class="btn btn-success btn-sm" href="#">Äänestä</a></td>
        </tr>
    </tbody>

</table>

{% endblock %}
