{% extends "base.html" %}
{% block content %}
<h1>{{aanestys.nimi}}</h1>

<p>
    <a href="#" class="btn btn-primary">Tulokset</a> <a href="{{base_path}}/vote_edit/{{aanestys.id}}"  class="btn btn-default">Muokkaa</a> 
</p>
<p>
    {{aanestys.lisatieto}}
</p>
<ul>
    <li><strong>Järjestäjä:</strong> {{aanestys.findJarjestaja(aanestys.id)}}</li> <!--ei toimi, miten tämän teen???-->
    <li><strong>Alkamisaika:</strong> {{aanestys.alkamisaika}}</li>
    <li><strong>Päättymisaika:</strong> {{aanestys.loppumisaika}}</li>
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li> <!--miten saan aikavertailun???-->
</ul>
<h3>Lista ehdokkaista</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lisätieto</th>
            <th>Äänestä</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="#">C-3PO</a></td>
            <td>C-3PO on avaruusseik...</td>
            <td><a class="btn btn-success btn-sm" href="#">Äänestä</a></td>
        </tr>
    </tbody>

</table>

{% endblock %}
